<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="ifeed">
        INSERT INTO t_feed
        Set iuser = #{iuser}
            ,contents = #{contents}
            ,location = #{location}
    </insert>

    <!-- t_feed_pic -->
    <insert id="insFeedPic">
        INSERT INTO t_feed_pics
        (ifeed, pic)
        VALUES
        <foreach collection="pics" item="pic" open="(" close=")" separator="),(">
            #{ifeed},#{pic}
        </foreach>

    </insert>
    <!--로그인 한 iuser, 보고자 하는 프로필 주인 iuser -->
    <select id="selFeed">
        Select A.ifeed,A.contents,A.location,B.iuser,B.name as writer
        ,A.created_at as createdAt,if(C.ifeed >0,1,0) as isFav
        From t_feed A
        Join t_user B
        On A.iuser = B.iuser
        Left Join t_favorite C
        on A.ifeed = C.ifeed
        and C.iuser = #{loginedIuser}
        <if test="targetIuser > 0">
            Where A.iuser = #{targetIuser}
        </if>
        Order by A.ifeed desc
        Limit #{startIdx}, #{rowCount}
    </select>
    <select id="selFeedPics">
        Select ifeed,pic
        From t_feed_pics
        Where ifeed in
        <foreach collection="list" item="num" open="(" close=")" separator=" , ">
            #{num}
        </foreach>
    </select>
    <delete id="delFeedFav">
        Delete
        From t_favorite
        Where ifeed = #{ifeed} and iuser = #{iuser}
    </delete>
    <insert id="insFeedFav">
        Insert Into t_favorite
        Set ifeed = #{ifeed}
            ,iuser = #{iuser}
    </insert>
</mapper>
